<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creativeBlue.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Accueil</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#presentation"></i> Présentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#criteres">Explication des critères</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#explorer">Explorer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="filtre.html">Choisir une moto</a>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Filtrer les critères essentiels nécessaires à ma futur bécanne</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Le choix d'une moto n'est pas si simple qu'il n'y parrait. Ce site a pour objectif de vous aider à prendre votre décision pour une bécanne qui vous correspond. </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#filtres">Choisir mes filtres</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Listes des filtres en sous catégories -->
  <section class="container" id=filtres>
    <form id="findBikesForm">
    <div class="left-half">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Filtrer les critères de ma moto</h2>
            <hr class="my-4">
          </div>
        </div>


        <div class="panel panel-default col-lg-12 text-center">


<!-- MOTEUR -->

          Example de slider:
          <div class="container" >
              <!-- //v-model="userChoice.sliderValue" -->
              <vue-slider ref="slider" v-bind="sliderOptions"></vue-slider>
          </div>


          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Moteur</a>
            </div>
          </div>

          <div class="row">
           <div class="col-lg-6 col-md-6 text-center">
             <a class="font-small" for="Puissance">A2</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.A2" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in A2s" v-bind:value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div>

           <div class="col-lg-6 col-md-6 text-center">
             <a class="font-small" for="Puissance">A</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.Aa" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in Aas" v-bind:value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div>
         </div>

          <div class="panel-heading">
            <a href="#item1" data-toggle="collapse"> ... </a>
          </div>
          <div id="item1" class="panel-collapse collapse in">
            <div class="panel-body">

              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="Puissance">Puissance</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in powers" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Couple max</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.couple_max" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in maxtorques" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Régime moteur couple max</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.rpm_cmax" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in maxtorquerpms" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Cylindré du moteur</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.cylindre_cm" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in strokecms" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Nombre de cylindre</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.cylindre_nb" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in strokenbs" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Architecture moteur</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.architecture" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in architectures" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <br>

          <!-- SECURITE -->

          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Sécurité</a>
            </div>
          </div>

           <!-- <div class="col-lg-12 col-md-12 text-center">
             <a class="font-small" for="Puissance">Sécurité</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in powers" value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div> -->

          <div class="panel-heading">
            <a href="#item2" data-toggle="collapse"> ... </a>
          </div>
          <div id="item2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Equipements</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.equipements" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in equipments" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Freinage avant</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.frein_av" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in frontbrakes" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Freinage arrière</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.frein_ar" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in rearbrakes" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Type de pneus</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.pneus" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in tiress" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>
             </div>
          </div>
          <br>

<!-- MANIABILITE -->


          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Maniabilité</a>
            </div>
          </div>

           <!-- <div class="col-lg-12 col-md-12 text-center">
             <a class="font-small" for="Puissance">Maniabilité</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in powers" value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div> -->

          <div class="panel-heading">
            <a href="#item3" data-toggle="collapse"> ... </a>
          </div>
          <div id="item3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">

                <div class="col-lg-12 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Masse</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.masse" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in weights" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Guidon</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.guidon" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in handlebars" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Cadre</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.cadre" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in frames" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Taille roue avant</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.roue_av" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in frontwheels" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Taille roue arrière</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.roue_ar" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in rearwheels" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>
             </div>
          </div>
          <br>


<!-- LOOK -->

          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Look de la moto</a>
            </div>
          </div>

           <!-- <div class="col-lg-12 col-md-12 text-center">
             <a class="font-small" for="Puissance">Look</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in powers" value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div> -->

          <div class="panel-heading">
            <a href="#item4" data-toggle="collapse"> ... </a>
          </div>
          <div id="item4" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Type de moto</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.type" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in types" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Style</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.style" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in styles" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Coloris</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.coloris" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in coloriss" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>
             </div>
          </div>
          <br>


<!-- CONFORT -->

          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Confort de la moto</a>
            </div>
          </div>

           <!-- <div class="col-lg-12 col-md-12 text-center">
             <a class="font-small" for="Puissance">Elements de confort</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in powers" value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div> -->

          <div class="panel-heading">
            <a href="#item5" data-toggle="collapse"> ... </a>
          </div>
          <div id="item5" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Type de suspension</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.suspension" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in suspensions" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Position sur la moto</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.position" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in positions" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Hauteur de la selle</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.hauteur" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in seatheights" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Conduite duo ?</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.duo" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in duos" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Bulle aérodynamique ?</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.bulle" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in windprotections" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Accessoires de confort</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.accessoires" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in confortaccessoriess" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <br>

<!-- BRICOLAGE -->

          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="font-primary">Possibilité de bricolage sur la moto</a>
            </div>
          </div>

           <!-- <div class="col-lg-12 col-md-12 text-center">
             <a class="font-small" for="Puissance">Oui/Non</a>
             <div class="col-lg-12 text-center">
               <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
                 <option value="" selected>...</option>
                 <option v-for="opt in powers" value="opt"> {{ opt }} </option>
               </select>
             </div>
           </div> -->

          <div class="panel-heading">
            <a href="#item6" data-toggle="collapse"> ... </a>
          </div>
          <div id="item6" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="row">

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Entretien maison ?</a>
                  <div class="col-lg-12 text-center">
                    <select class="font-small" v-model="userChoice.entretiens" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in homemadeservices" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <a class="font-small" for="inputPassword3">Posibilité de transformation ?</a>
                  <div class="col-lg-12">
                    <select class="font-small" v-model="userChoice.transformations" class="form-control" id="inlineFormCustomSelectPref" >
                      <option value="" selected>...</option>
                      <option v-for="opt in transformationss" v-bind:value="opt"> {{ opt }} </option>
                    </select>
                  </div>
                </div>
              </div>


             </div>
          </div>
          <br>





        </div>
        <div class="col-sm-10">
          <button type="button" v-on:click="submit" class="btn btn-primary">Rechercher</button>
        </div>
      </div>

      <div class="right-half">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Filtrer les critères de ma moto</h2>
            <hr class="my-4">
              <div> {{ results }} </div>
              <h4> Nom : {{results[0].name}} </h4>
          </div>
        </div>
      </div>
    </form>
  </section>






  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <script src="vendor/vue-slider/index.js"></script>
  <script src="vendor/vuejs/vue.js"></script>
  <script src="js/views.js"></script>
  <!-- Custom scripts for this template -->
  <script src="js/creative.js"></script>

</body>

</html>
