<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/creative.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Accueil</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#presentation"></i> Présentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#criteres">Explication des critères</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#explorer">Explorer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="filtre.html">Trouver ma moto</a>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Filtrer les critères essentiels nécessaires à ma futur bécanne</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Le choix d'une moto n'est pas si simple qu'il n'y parrait. Ce site a pour objectif de vous aider à prendre votre décision pour une bécanne qui vous correspond. </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#filtres">Choisir mes filtres</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Listes des filtres en sous catégories -->
  <section class="container" id=filtres>
    <div class="left-half">
      <form id="findBikesForm">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Filtrer les critères de ma moto</h2>
          <hr class="my-4">
        </div>
      </div>

      <!-- // MOTEUR -->
      <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <a class="font-primary">Moteur</a>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="Puissance">Puissance</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="puissance" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in puissances" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Couple max</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="couple_max" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Régime moteur couple max</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="rpm_cmax" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Cylindré du moteur</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="cylindre_cm" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Nombre de cylindre</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="cylindre_nb" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Architecture moteur</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="architecture" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 text-center">
      </div>
    </section>


      <!-- // SECURITE -->
    <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <div class="font-primary">Sécurité</div>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Equipements</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="equipements" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Freinage avant</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="frein_av" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Freinage arrière</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="frein_ar" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Type de pneus</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="pneus" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>
      </section>

      <!-- // MANIABILITE -->
      <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <div class="font-primary">Maniabilité</div>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Masse</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="masse" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Guidon</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="guidon" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Cadre</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="cadre" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Taille roue avant</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="roue_av" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Taille roue arrière</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="roue_ar" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>
    </section>

      <!-- // LOOK -->
      <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <div class="font-primary">Look de la moto</div>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Type de moto</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="type" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Style</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="style" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Coloris</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="coloris" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>
    </section>

      <!-- // CONFORT -->
      <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <div class="font-primary">Confort de la moto</div>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Type de suspension</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="suspension" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Position sur la moto</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="position" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Hauteur de la selle</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="hauteur" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Conduite duo ?</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="duo" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Bulle aérodynamique ?</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="bulle" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Accessoires de confort</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="accessoires" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>
    </section>

      <!-- // BRICOLAGE -->
    <section>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a class="font-primary"></a>
          <a class="font-primary"></a>
          <h3 class="font-primary">Possibilité de bricolage sur la moto</h3>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Entretien maison ?</a>
          <div class="col-lg-12 text-center">
            <select class="font-small" v-model="entretiens" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <a class="font-small" for="inputPassword3">Posibilité de transformation ?</a>
          <div class="col-lg-12">
            <select class="font-small" v-model="transformations" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in options" value="opt.id"> {{ opt.value }} </option>
            </select>
          </div>
        </div>
      </div>
    </section>

      <div class="col-sm-10">
        <button type="button" v-on:click="submit" class="btn btn-primary">Sign in</button>
        <div v-show="display"> those are my results </div>
      </div>
      <div class="col-sm-10">
        <button type="button" v-on:click="query" class="btn btn-primary">Get the options in the database</button>
      </div>

      </form>
    </div>
  </section>



  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/views.js"></script>
  <!-- Custom scripts for this template -->
  <script src="../js/creative.js"></script>

</body>

</html>
