<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>La Bonne Bécanne</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creativeBlue.css" rel="stylesheet">

  <!-- Liens pour l'accordeon -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


</head>

<body id="page-top">


  <div id="mainVue">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Accueil</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html#presentation"></i> Présentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html#story">L'histoire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html#criteres">Critères</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html#dossier">DOSSIER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="index.html#explorer">Explorer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="filtre.html">Choisir une moto</a>

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container-fluid my-auto">
        &nbsp
        <div class="row">
          &nbsp
          <div class="col-lg-10 mx-auto">
            &nbsp
            <h1 class="text-uppercase">
              <strong>Filtrer les critères essentiels nécessaires à ma futur bécanne</strong>
            </h1>
            <hr class="short my-4">
            &nbsp
          </div>
          <div class="col-lg-8 mx-auto">
            &nbsp
            <p class="text-faded mb-5">Le choix d'une moto n'est pas si simple qu'il n'y parrait. Ce site a pour objectif de vous aider à prendre votre décision pour une bécanne qui vous correspond. </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#filtres">Choisir mes filtres</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Listes des filtres en sous catégories -->
    <section class="left-half fixed-position" id=filtres>
      &nbsp
      <div class="row">
        <div class="col-lg-12 text-center">
          &nbsp
          <h2 class="section-heading">Les catégories de filtres</h2>
          <br>
          <h6>Choisis uniquement les filtres qui comptent vraiment pour toi, afin de te laisser surprendre par des motos que tu ne connais pas.</h6>
          <hr class="short my-4">
        </div>
      </div>

      <form id="findBikesForm">
        <!-- déclare le début de l'accordeon pour pouvoir créer les listes qui decendent pour les filtres -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default col-lg-12 text-center">
            <!-- MOTEUR -->
            <div class="panel-heading">
              <a class="accordeon" href="#item1" data-parent="#accordion" data-toggle="collapse" @click="sliderOptions.display = !sliderOptions.display"> > Moteur </a>
            </div>
            <div id="item1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">

                  <div class="col-lg-12 col-md-12 text-center">
                    <a class="font-small" for="Puissance">Puissance</a>
                    <div class="container" >
                      <!-- //v-model="userChoice.sliderValue" -->
                      <vue-slider :show="sliderOptions.display" ref="slider" v-bind="sliderOptions"></vue-slider>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 text-center">
                    <a class="font-small" for="inputPassword3">Régime moteur couple max</a>
                    <div class="col-lg-12 text-center">
                      <select class="selectwidthauto"   v-model="userChoice.maxtorquerpm" class="form-control" id="inlineFormCustomSelectPref" >
                        <option value="" selected>...</option>
                        <option v-for="opt in maxtorquerpms" v-bind:value="opt"> {{ opt }} </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-12 text-center">
                    <a class="font-small" for="inputPassword3">Couple max</a>
                    <div class="col-lg-6 text-center">
                      <select class="selectwidthauto"   v-model="userChoice.maxtorque" class="form-control" id="inlineFormCustomSelectPref" width="400px" >
                        <option value="" selected>...</option>
                        <option v-for="opt in maxtorques" v-bind:value="opt"> {{ opt }} </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12 text-center">
                    <a class="font-small" for="inputPassword3">Cylindré du moteur</a>
                    <div class="col-lg-6 text-center">
                      <select class="selectwidthauto"   v-model="userChoice.strokecm" class="form-control" id="inlineFormCustomSelectPref" >
                        <option value="" selected>...</option>
                        <option v-for="opt in strokecms" v-bind:value="opt"> {{ opt }} </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-12 text-center">
                    <a class="font-small" for="inputPassword3">Nombre de cylindres</a>
                    <div class="col-lg-6 text-center">
                      <select class="selectwidthauto" v-model="userChoice.strokenb" class="form-control" id="inlineFormCustomSelectPref" >
                        <option value="" selected>...</option>
                        <option v-for="opt in strokenbs" v-bind:value="opt"> {{ opt }} </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12 text-center">
                    <a class="font-small" for="inputPassword3">Architecture moteur</a>
                    <div class="col-lg-6 text-center">
                      <select class="selectwidthauto"   v-model="userChoice.architecture" class="form-control" id="inlineFormCustomSelectPref" >
                        <option value="" selected>...</option>
                        <option v-for="opt in architectures" v-bind:value="opt"> {{ opt }} </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <!-- SECURITE -->

            <!-- <div class="row">
            <div class="col-lg-12 text-center">
            <a class="font-primary">Sécurité</a>
          </div>
        </div> -->

        <!-- <div class="col-lg-12 col-md-12 text-center">
        <a class="font-small" for="Puissance">Sécurité</a>
        <div class="col-lg-12 text-center">
        <select class="font-small" v-model="userChoice.power" class="form-control" id="inlineFormCustomSelectPref" >
        <option value="" selected>...</option>
        <option v-for="opt in powers" value="opt"> {{ opt }} </option>
      </select>
    </div>
  </div> -->

  <div class="panel-heading">
    <a class="accordeon panel-group" href="#item2" data-toggle="collapse" data-parent="#accordion"> > Sécurité </a>
  </div>
  <div id="item2" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Equipements</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.equipement" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in equipments" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Freinage avant</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.frontbrake" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in frontbrakes" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Freinage arrière</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.rearbrake" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in rearbrakes" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Type de pneus</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.tires" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in tiress" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- MANIABILITE -->

  <div class="panel-heading">
    <a class="accordeon" href="#item3" data-toggle="collapse" data-parent="#accordion"> > Maniabilité </a>
  </div>
  <div id="item3" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Masse</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.weight" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in weights" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Guidon</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.handlebar" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in handlebars" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Cadre</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.frame" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in frames" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Taille roue avant</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.frontwheel" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in frontwheels" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Taille roue arrière</a>
          <div class="col-lg-12 text-center">
            <select class="selectwidthauto" v-model="userChoice.rearwheel" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in rearwheels" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- LOOK -->

  <div class="panel-heading">
    <a class="accordeon" href="#item4" data-toggle="collapse" data-parent="#accordion"> > Look </a>
  </div>
  <div id="item4" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Type de moto</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.type" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in types" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Style</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.style" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in styles" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Coloris</a>
          <div class="col-lg-12 text-center">
            <select class="selectwidthauto" v-model="userChoice.coloris" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in coloriss" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- CONFORT -->

  <div class="panel-heading">
    <a class="accordeon" href="#item5" data-toggle="collapse" data-parent="#accordion"> > Confort </a>
  </div>
  <div id="item5" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Type de suspension</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.suspension" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in suspensions" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Position sur la moto</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.position" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in positions" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Hauteur de la selle</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.seatheight" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in seatheights" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Accessoires de confort</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.confortaccessories" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in confortaccessoriess" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Bulle aérodynamique</a>
          <div class="col-lg-12 text-center">
            <select class="selectwidthauto" v-model="userChoice.windprotection" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in windprotections" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Conduite duo</a>
          <div class="col-lg-12 text-center">
            <select class="selectwidthauto" v-model="userChoice.duo" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in duos" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>

  <!-- BRICOLAGE -->

  <div class="panel-heading">
    <a class="accordeon" href="#item6" data-toggle="collapse" data-parent="#accordion"> > Entretiens </a>
  </div>
  <div id="item6" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="row">

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Entretien maison ?</a>
          <div class="col-lg-6 text-center">
            <select class="selectwidthauto" v-model="userChoice.homemadeservice" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in homemadeservices" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <a class="font-small" for="inputPassword3">Posibilité de transformation ?</a>
          <div class="col-lg-6">
            <select class="selectwidthauto" v-model="userChoice.transformations" class="form-control" id="inlineFormCustomSelectPref" >
              <option value="" selected>...</option>
              <option v-for="opt in transformationss" v-bind:value="opt"> {{ opt }} </option>
            </select>
          </div>
        </div>
      </div>


    </div>
  </div>
  <br>

</div>

<div class="col-sm-12 text-center">
  <button type="button" v-on:click="submit" class="btn btn-primary">Rechercher</button>
</div>

<!--<h6> Architecture moteur : {{result.name[Math.floor(Math.random()*result.name.length)]}} </h5> -->
</div>
</break>
</form>

</section>


<section class="right-half bg-result">
  <div v-for="(result, index) in results">
    &nbsp
    <div class="text-center">
      <h2 font-size="3rem" font-weight="700" text-color="#153C51"> {{result.name}} </h2>
      <hr class="short my-4">
    </div>

    <div class="container">
      <div class="row vertical-center">
        <div class="col-lg-6 col-md-12">
          <div class="motoimage-box mx-auto">
            <img class="img-fluid" v-bind:src="result.photo" alt="pas de photo"></img>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <div class="text-justify motoimage-box mx-auto">
            <h5> {{result.description}} </h5>
          </div>
        </div>
      </div>
    </div>

    &nbsp
    <div class="panel-heading">
      <h5 class="accordeon text-center" v-bind:href="'#moto'+index" data-toggle="collapse" data-parent="#accordion"> Voir les caractéristiques techniques <hr class="short my-4"> </h5>
    </div>
    <div v-bind:id="'moto' +index" class="panel-collapse collapse in">
      <div class="panel-body bg-primary">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-white">
            &nbsp
            <h5> Caractéristiques moteur </h5>
            &nbsp

            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Nombre de cylindre : {{result.strokenb}} </h6>
            <h6> Cylindré : {{result.strokecm}} </h6>
            <h6> Puissance : {{result.power}} </h6>
            <h6> Couple maximum : {{result.maxtorque}} à {{result.maxtorquerpm}}</h6>
            <h6> Admission d'essence : {{result.fuelsystem}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            &nbsp
          </div>

          <div class="col-lg-3 col-md-6 text-white">
            &nbsp
            <h5> Caractéristique physique </h5>
            &nbsp

            <h6> Masse : {{result.weight}} </h6>
            <h6> Embrayage : {{result.strokenb}} </h6>
            <h6> Cylindré : {{result.strokecm}} </h6>
            <h6> Puissance : {{result.power}} </h6>
            <h6> Couple maximum : {{result.maxtorque}} à {{result.maxtorquerpm}}</h6>
            <h6> Admission d'essence : {{result.fuelsystem}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            &nbsp
          </div>

          <div class="col-lg-3 col-md-6 text-white" margin-left="40px">
            &nbsp
            <h5> Caractéristiques moteur </h5>
            &nbsp

            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Nombre de cylindre : {{result.strokenb}} </h6>
            <h6> Cylindré : {{result.strokecm}} </h6>
            <h6> Puissance : {{result.power}} </h6>
            <h6> Couple maximum : {{result.maxtorque}} à {{result.maxtorquerpm}}</h6>
            <h6> Admission d'essence : {{result.fuelsystem}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            &nbsp
          </div>

          <div class="col-lg-3 col-md-6 text-white">
            &nbsp
            <h5> Caractéristique physique </h5>
            &nbsp

            <h6> Masse : {{result.weight}} </h6>
            <h6> Embrayage : {{result.strokenb}} </h6>
            <h6> Cylindré : {{result.strokecm}} </h6>
            <h6> Puissance : {{result.power}} </h6>
            <h6> Couple maximum : {{result.maxtorque}} à {{result.maxtorquerpm}}</h6>
            <h6> Admission d'essence : {{result.fuelsystem}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            <h6> Architecture moteur : {{result.architecture}} </h6>
            &nbsp
          </div>
        </div>
      &nbsp
      <h5 class="text-white"> Avis et conseils <hr class=" my-4"> </h5>
          <div class="row">
            <div class="col-lg-6 col-md-6 text-white">
              &nbsp
              <h5> Info et resultat d'essai </h5>
              &nbsp
              <h6> S'il y en a eu - lien vers des essais de site partenaire, avis d'autres utilisateur. </h6>
              &nbsp
            </div>
            <div class="col-lg-3 col-md-6 text-white">
              &nbsp
              <h5> Compléments : </h5>
              &nbsp
              <h6> Lien vers une présentation de la marque et de son histoire et ses particularités ainsi que des infos sur ce qui est compatible avec cette moto </h6>
              &nbsp
            </div>
          </div>
        </div>
      </div>
      <hr class="primary">
    </break>
  </section>

  <!-- <section id="contact">
  <div class="container">
  <div class="row">
  <div class="col-lg-8 mx-auto text-center">
  <h2 class="section-heading">Restons en contact !</h2>
  <hr class="my-4">
  <p class="mb-5">Si vous souhaitez des conseils, donner votre avis sur une moto, nous contacter pour plus d'information ou partager une expérience, une ballade, une histoire ou votre passion, n'hésitez pas à nous contacter</p>
</div>
</div>
<div class="row">
<div class="col-lg-4 ml-auto text-center">
<i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
<p>123-456-6789</p>
</div>
<div class="col-lg-4 mr-auto text-center">
<i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
<p>
<a href="mailto:lucejournet@gmail.com">contactk@labonnebecanne.com</a>
</p>
</div>
</div>
</div>
</section> -->





</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="vendor/vue-slider/index.js"></script>
<script src="vendor/vuejs/vue.js"></script>
<script src="js/views.js"></script>
<!-- Custom scripts for this template -->
<script src="js/creative.js"></script>

</body>

</html>
